flows(2).json
[
    {
        "id": "cb6dae2923eb2a08",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8863d35d251b51b1",
        "type": "mqtt in",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "topic": "testTopic",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7fb34d1e48cd54e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "3630b986e214a601"
            ]
        ]
    },
    {
        "id": "3630b986e214a601",
        "type": "debug",
        "z": "cb6dae2923eb2a08",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 200,
        "wires": []
    },
    {
        "id": "39517cd20141dcfd",
        "type": "ui_button",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "group": "0e457fce4f3ceeb8",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "56b1b61bc3f020f2"
            ]
        ]
    },
    {
        "id": "df46418f3b602a6b",
        "type": "debug",
        "z": "cb6dae2923eb2a08",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 140,
        "wires": []
    },
    {
        "id": "fa518ce4d4bb58ba",
        "type": "mqtt in",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "topic": "start",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7fb34d1e48cd54e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "df46418f3b602a6b"
            ]
        ]
    },
    {
        "id": "56b1b61bc3f020f2",
        "type": "mqtt out",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "topic": "start",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7fb34d1e48cd54e3",
        "x": 430,
        "y": 260,
        "wires": []
    },
    {
        "id": "3a48601111d0664a",
        "type": "ui_text_input",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "label": "min humidity",
        "tooltip": "",
        "group": "0e457fce4f3ceeb8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 590,
        "y": 200,
        "wires": [
            [
                "989605db7586d2fe"
            ]
        ]
    },
    {
        "id": "9aa55e0e631cfe0d",
        "type": "ui_text_input",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "label": "min temperatuur",
        "tooltip": "",
        "group": "0e457fce4f3ceeb8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 600,
        "y": 140,
        "wires": [
            [
                "5bacdf3dc5da5d4c"
            ]
        ]
    },
    {
        "id": "09bed95c7b2dc55d",
        "type": "ui_text_input",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "label": "tijd",
        "tooltip": "",
        "group": "0e457fce4f3ceeb8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "0149965e1862b4bf"
            ]
        ]
    },
    {
        "id": "5bacdf3dc5da5d4c",
        "type": "mqtt out",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "topic": "temperatuur",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7fb34d1e48cd54e3",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "989605db7586d2fe",
        "type": "mqtt out",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "topic": "humidity",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7fb34d1e48cd54e3",
        "x": 780,
        "y": 200,
        "wires": []
    },
    {
        "id": "0149965e1862b4bf",
        "type": "mqtt out",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "topic": "tijd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7fb34d1e48cd54e3",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "1ea57326137e32ee",
        "type": "mqtt in",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "topic": "temperatuur",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7fb34d1e48cd54e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 520,
        "wires": [
            [
                "cdda9d87de4d074e"
            ]
        ]
    },
    {
        "id": "f8db367a814fcad2",
        "type": "mqtt in",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "topic": "humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7fb34d1e48cd54e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "53b1fd042134f53e"
            ]
        ]
    },
    {
        "id": "abd08b76feeb95bb",
        "type": "mqtt in",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "topic": "tijd",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7fb34d1e48cd54e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "0640f485e990cd07"
            ]
        ]
    },
    {
        "id": "cdda9d87de4d074e",
        "type": "debug",
        "z": "cb6dae2923eb2a08",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 520,
        "wires": []
    },
    {
        "id": "53b1fd042134f53e",
        "type": "debug",
        "z": "cb6dae2923eb2a08",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 400,
        "wires": []
    },
    {
        "id": "0640f485e990cd07",
        "type": "debug",
        "z": "cb6dae2923eb2a08",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 460,
        "wires": []
    },
    {
        "id": "7c266b12993a18b6",
        "type": "ui_text_input",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "label": "max humidity",
        "tooltip": "",
        "group": "0e457fce4f3ceeb8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 590,
        "y": 380,
        "wires": [
            [
                "a37835faeeb247ea"
            ]
        ]
    },
    {
        "id": "1c227c5cad57c9bc",
        "type": "ui_text_input",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "label": "max temperatuur",
        "tooltip": "",
        "group": "0e457fce4f3ceeb8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 610,
        "y": 320,
        "wires": [
            [
                "e0a713e68ba8815a"
            ]
        ]
    },
    {
        "id": "e0a713e68ba8815a",
        "type": "mqtt out",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "topic": "maxTemperatuur",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7fb34d1e48cd54e3",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "a37835faeeb247ea",
        "type": "mqtt out",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "topic": "maxHumidity",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7fb34d1e48cd54e3",
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "f6a476fb97fce62e",
        "type": "ui_button",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "group": "0e457fce4f3ceeb8",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "9926613ab6fe651c"
            ]
        ]
    },
    {
        "id": "9926613ab6fe651c",
        "type": "mqtt out",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "topic": "stop",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7fb34d1e48cd54e3",
        "x": 430,
        "y": 320,
        "wires": []
    },
    {
        "id": "dfd2e7d140fc0bb4",
        "type": "mqtt in",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "topic": "getIp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7fb34d1e48cd54e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 660,
        "wires": [
            [
                "899be15f1e2f1153",
                "e4b7c5e7eb341b37"
            ]
        ]
    },
    {
        "id": "bd669555462f1f2d",
        "type": "mqtt out",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "topic": "ip",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7fb34d1e48cd54e3",
        "x": 590,
        "y": 680,
        "wires": []
    },
    {
        "id": "899be15f1e2f1153",
        "type": "debug",
        "z": "cb6dae2923eb2a08",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 780,
        "wires": []
    },
    {
        "id": "c5fc450b66509373",
        "type": "debug",
        "z": "cb6dae2923eb2a08",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 740,
        "wires": []
    },
    {
        "id": "e4b7c5e7eb341b37",
        "type": "exec",
        "z": "cb6dae2923eb2a08",
        "command": "hostname -I | awk '{print $1}'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 340,
        "y": 660,
        "wires": [
            [
                "bd669555462f1f2d",
                "c5fc450b66509373"
            ],
            [],
            []
        ]
    },
    {
        "id": "37c2765715cfa9c3",
        "type": "inject",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 760,
        "wires": [
            [
                "a292404428260392"
            ]
        ]
    },
    {
        "id": "a292404428260392",
        "type": "mqtt out",
        "z": "cb6dae2923eb2a08",
        "name": "",
        "topic": "getIp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7fb34d1e48cd54e3",
        "x": 310,
        "y": 860,
        "wires": []
    },
    {
        "id": "83c6cd89b10250fe",
        "type": "ui_spacer",
        "z": "cb6dae2923eb2a08",
        "name": "spacer",
        "group": "0e457fce4f3ceeb8",
        "order": 2,
        "width": "6",
        "height": "1"
    },
    {
        "id": "7fb34d1e48cd54e3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1881",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0e457fce4f3ceeb8",
        "type": "ui_group",
        "name": "dashboard",
        "tab": "115b628d0aafce83",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "115b628d0aafce83",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]